.fullCharCardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url('../images/info.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    -webkit-filter: drop-shadow(0px 5px 10px rgba(245, 245, 245, .5));
    filter: drop-shadow(0px 5px 10px rgba(245, 245, 245, .5));
}

.charImg {
    width: 40%;
    height: 40%;
    object-fit: cover;
    border: beige solid 2px;
}

h2 {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 5px;
    color: #20293A;
}

h3,h4 {
    margin: 5px 0;
    color: #20293A;
}