.infoContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 75%;
    padding: 3%;
    background-image: url('../images/info.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    -webkit-filter: drop-shadow(0px 5px 10px rgba(245, 245, 245, .5));
    filter: drop-shadow(0px 5px 10px rgba(245, 245, 245, .5));
    overflow: scroll;
}

.infoContainer > h1 {
    color: #20293A;
    margin: 20px;
    text-shadow: 1px 1px 2px #394460;
}

.infoContainer > h3 {
    font-size: 16px;
    color: #30353f;
    margin: 5px;
    text-shadow: 1px 1px 1px #414b69;
}

.overview {
    font-size: 16px;
    margin: 5px 5%;
    overflow: clip;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 1px #414b69;
}

@media (max-width: 960px) {
    .infoContainer > h1 {
        font-size: 16px;
        margin: 5px;
    }

    .infoContainer > h3 {
        font-size: 12px;
        margin: 2px;
    }

    .overview {
        font-size: 10px;
        margin: 2px 2%;
    }
}