@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #111314;
  font-family: 'MedievalSharp', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
